
/*
Color Palette
background color: #EDCFA9
primary: #E89F71
secondary: #D57149
tertiary: #AA4A30
accent: #E08F62
white: #fff
black: #000  
*/

html {
    /* If we add padding or border onto an element it does not affect the width of the element */
   box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
    font-weight: 300;
    background-color: #EDCFA9;
    color: #fff;
}

.hero {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}

.heroImage {
    padding: 2rem;
}

.heroImage img {
    border-radius: 6rem;
    box-shadow: 10px 10px #000;
    width: 100%;
    height: auto;
}

.heroText {
    font-size: 0.7rem;
    padding-bottom: 2rem;
    text-align: center;
    letter-spacing: 5px;
}

.heroName {
    color: #E08F62;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.heroTextTop {
    padding: 1rem;
}

.heroTextBottom {
    padding: 1rem;
}

.heroButton {
    margin: 1rem;
}

.button { 
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #E08F62;
    border-radius: 25px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #EDCFA9;
    text-decoration: none;
    box-shadow: 8px 8px 4px #000;
}

.button:hover {
    background-color: #D57149;
    color: #E08F62;
    transform: scale(1.5);
    /* (150% zoom- note if zoom is too large it will go outside
    viewport) */
}

.projectsHeader {
    margin: 1.5rem 3rem;
    text-align: center;
    padding: 0.5rem;
    letter-spacing: 4px;
}

.projectCard {
    background-color: #fff;
    color: #EDCFA9;
    margin:4rem 3rem;
    padding: 0.5rem 2rem;
    text-align: center;
    border: 1px solid #E08F62;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px #000;
}

.projectCard img {
    width: 100%;
    height: auto;
    border-radius: 3rem;
    margin: 1rem 0;
}

.projectCard h2 {
    margin: 0.5rem 1rem 1.5rem 1rem;
    font-weight: 600;
}

.projectCard p {
    font-size: 1rem;
    font-weight: 400;
}

.projectIcons {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.projectIcons p {
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
}

.fa-github {
    font-size: 2.2rem;
    padding: 1.5rem;
}

.fa-file {
    font-size: 2.2rem;
    padding: 1.5rem;

}

footer {
    text-align: center;
    color: #E08F62;
    margin: 10rem 0;
    border-top: 1px solid #000;
}

.filler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 80vh;
}

.aboutMe {
   
   display: flex; 
   align-items: center;
   padding: 0.5rem 2rem;
}

.aboutMeHeader {
    font-size: 0.7rem;
    padding-bottom: 2rem;
    text-align: center;
}





@media (min-width: 800px) {
    .hero {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 90vh;
    }
    
    .herotext {
        font-size: 1rem;
    }
    
    .heroName {
        font-size: 3.5rem;
    }
    
    .button {
        font-size: 1.1rem;
    }
    
    .projectGallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .projectCard {
        max-width: 20%;
    }
}
    
    